/* 
  Enhanced ChatGPT
  @xilantra
  https://github.com/Xilantra/enhanced-chatgpt
  Last updated: Jan 07 2023
*/

/* hide respectively "clear all" conversation "Update to Plus" button! */
nav.flex.h-full.flex-1.flex-col.space-y-1.p-2 > a:nth-child(3),
nav.flex.h-full.flex-1.flex-col.space-y-1.p-2 > a:nth-child(4) {
  display: none !important;
}


nav.flex.h-full.flex-1.flex-col.space-y-1.p-2 > a:nth-child(5),
nav.flex.h-full.flex-1.flex-col.space-y-1.p-2 > a:nth-child(6),
nav.flex.h-full.flex-1.flex-col.space-y-1.p-2 > a:nth-child(7),
a.flex.py-3.px-3.items-center.gap-3.rounded-md.hover\:bg-gray-500\/10.transition-colors.duration-200.text-white.cursor-pointer.text-sm.mb-2.flex-shrink-0.border.border-white\/20 {
  width: 244px;
}

/* hide border from the new chat button */
a.flex.py-3.px-3.items-center.gap-3.rounded-md.hover\:bg-gray-500\/10.transition-colors.duration-200.text-white.cursor-pointer.text-sm.mb-2.flex-shrink-0.border.border-white\/20 {
    border-color: transparent;
}

/* left padding for the sidebar */
@media (min-width: 768px){
  .md\:pl-\[260px\]{
    padding-left: 48px !important;
  }
}

/* sidebar padding resets to 0 when in mobile*/
@media(max-width : 768px){
  .md\:pl-\[260px\] {
    padding-left: 0;
  }
}

/* sidebar */
div.dark.hidden.bg-gray-900.md\:flex.md\:w-\[260px\].md\:flex-col {
  width: 48px;
  overflow: hidden;
  opacity: 0.2;
  box-shadow:inset -8px 0 8px 2px rgba(0, 0, 0, 0.8);
  transition: all .16s ease-in-out;
}

/* hover sidebar */
div.dark.hidden.bg-gray-900.md\:flex.md\:w-\[260px\].md\:flex-col:hover {
  width: 260px;
  opacity: 1;
  box-shadow: 8px 0 8px 2px rgba(0, 0, 0, 0.24);
}

/* hover sidebar: the new chat button */
div.dark.hidden.bg-gray-900.md\:flex.md\:w-\[260px\].md\:flex-col:hover
a.flex.py-3.px-3.items-center.gap-3.rounded-md.hover\:bg-gray-500\/10.transition-colors.duration-200.text-white.cursor-pointer.text-sm.mb-2.flex-shrink-0.border.border-white\/20 {
    border-color: hsla(0,0%,100%,.2);
}





